@import "tailwindcss";
@plugin "daisyui";

.pulse-scale {
  animation: pulseScale 3s ease-in-out infinite;
  display: inline-flex;
}

@keyframes pulseScale {
  0% {
    transform: scale(0.9);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* style pour la couleur du header */
/* Dans globals.css */
.header-text-color {
  transition: color 0.3s ease;
}

/* Quand le header est scrolled */
.scrolled .header-text-color {
  color: #000 !important; /* Noir */
}

/* Quand le header n'est pas scrolled */
:not(.scrolled) .header-text-color {
  color: #fff !important; /* Blanc */
}